extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

     
        h1 Paolo Gomez

       
        p Full Stack JavaScript Developer 


        .about-bio

          p Hi there, I am a full stack javascript developer with a keen interest in developing technologies. I have experience in ecommerce with my B.S in Business Psychology and my M.A. is Industrial Organizational Psychology. I find myself looking to combine my experiences and knowledge towards the realm of web development moving foward!


      .skills-contact-box.box
        h6 Skills

  
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

  
        ul
          li 408-460-5735
          li pmgomez248@gmail.com

   
        a.btn-link(href='https://www.linkedin.com/in/paologmomez/') LinkedIn
        a.btn-link(href='https://github.com/pattherogue') GitHub
      

    nav.nav
      a(href='/')
        span &larr;
        |  Back