extends layout.pug

block content

  article.portfolio-intro


    h1 Let's make the web great together!


    p Showcasing my talents in the form of past, current, and future projects. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

    each project in projects 
      project.cell 
        a(href=`/projects/${project.id}`)
          img.thumbnail(src=`${project.image_urls[0]}`, height = '250px', width = '250px', alt = `Screenshot of ${project.project_name}` Project)
          .centered_text      
            h5= project.project_name
    
      

